#creations {
  display: grid;
  margin-bottom: 6.4em;
}

.creations-btn {
  order: 2;
}

.creations-title {
  text-align: center;
  color: #000;
}

.creations-grid {
  order: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 1.6em;
  margin-block: 48px 34px;
}

.creations-grid-item {
  position: relative;
}

.creations-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.creations-grid-item figcaption {
  position: absolute;
  bottom: 0.85em;
  left: 0.85em;
  z-index: 1;
  color: #fff;
  width: 125px;
}

@media (min-width: 768px) {
  .creations-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .creations-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}