.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../assets/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  max-width: 650px;
  margin-inline: 1.6em;
  padding: 1.6em;
  border: 2px solid #fff;
}

@media (min-width: 768px) {
  .hero {
    min-height: min(100vh, 650px);
    justify-content: flex-start;
    background-image: url('../assets/desktop/image-hero.jpg');
    background-position: center;
  }

  .hero-content {
    margin-inline: 3em;
  }
}

@media (min-width: 992px) {
  .hero-content {
    margin-inline: 6em;
  }
}

@media (min-width: 1200px) {
  .hero-content {
    margin-inline: 9em;
  }
}

@media (min-width: 1440px) {
  .hero-content {
    margin-inline: 11em;
  }
}