main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../assets/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  margin-inline: 24px;
  border: 2px solid #fff;
}

.hero-title {
  padding: 24px;
  font-size: 40px;
  color: #fff;
}