main {
  padding-inline: 1.6em;
}

@media (min-width: 768px) {
  main {
    padding-inline: 3em;
  }
}

@media (min-width: 992px) {
  main {
    padding-inline: 6em;
  }
}

@media (min-width: 1200px) {
  main {
    padding-inline: 9em;
  }
}

@media (min-width: 1440px) {
  main {
    padding-inline: 11em;
  }
}