.menu-btn {
  padding: 0.4em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.header-nav {
  position: fixed;
  inset: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1.6em;
  background-color: #000;
  z-index: 1000;
}

.nav-open {
  display: flex;
}

.nav-open a::after {
  opacity: 0;
}

.header-nav-list a {
  display: block;
  padding-block: 0.25em;
  margin-bottom: 0.4em;
  color: inherit;
}

@media (min-width: 768px) {
  .header-nav {
    position: static;
    display: flex;
    padding-inline: 0;
    color: white;
    background-color: transparent;
  }

  .header-nav-list {
    display: flex;
    gap: 2.15em;
  }

  .header-nav-list a {
    margin-bottom: 0;
  }

  .menu-btn {
    display: none;
  }
}