.menu-btn {
  padding: 0.4em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 40%;
}

.nav-list {
  list-style: none;
}

.nav-list a {
  display: block;
  padding-block: 0.25em; 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}