@font-face {
  font-family: 'Josefin Sans';
  font-weight: 300;
  src: url("./assets/fonts/JosefinSans-Light.ttf");
}

@font-face {
  font-family: 'Alata';
  font-weight: 400;
  src: url("./assets/fonts/Alata-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Alata', sans-serif;
  color: #fff;
  background-color: #333;
}